table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0073e6;
    color: white;
}

picture img {
    width: 100%;
    border-radius: 10px;
}

audio, video {
    display: block;
    margin: 20px 0;
    width: 100%;
}
